<div class="container my-5">
  <% t = Time.now %>
  <% if t.hour < 12 %>
    <h1>Good morning, <%= @user.first_name.capitalize %></h1>
  <% elsif t.hour > 12 && t.hour < 18  %>
    <h1>Good afternoon, <%= @user.first_name.capitalize %></h1>
  <% else t.hour > 12 && t.hour < 18  %>
    <h1>Good evening, <%= @user.first_name.capitalize %></h1>
  <% end %>

  <h2>Your bookings:</h2>
  <% @user.bookings.each do |booking| %>
    <p><%= booking.gig.name %></p>
  <% end %>
</div>
