.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.parent-div {
  background-color: white;
  border-radius: 10px;
  height: 8rem;
  padding: 15px;
  width: 300px;
  height: auto;


  h3 {
    font-size: medium;
    font-weight: bold;
  }
}

#div_design{
  display: flex;
  width: 1800px;
}

#user_profile_div {
  display: flex;
  justify-content: space-between;
  height: 30px;
  // padding-bottom: 10px;
  width: 100%;
  align-items: center;
  padding-bottom: 20px;


  h4{
    margin: 0 auto;
  }

  #title_div{
    display: flex;
    justify-content:space-between;
    // width: 50%;


    h5{
      padding-top: 10px;
      padding-left: 10px;
      // margin-left: -10px;
    }
  }
}

#details_col_div{
  h3 a {
    color:black;
    text-decoration: none;
    font-style: normal;
    font-size:x-large;
  }


  #category_field{
    display: flex;
    justify-content:space-between;
  }
}

#image_div{

  height: 1 50px;
  overflow: hidden;


  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  object-fit:cover;
  // min-width: 100%;
  // height: auto;
  // max-height: 20%;


}

.big-card{
  background-color: #d4f1f476;
  padding: 20px;
}

#width-div{
  width: 85%;
  // display: flex;
  margin: 0 auto;
}


.img-max-height_8 {
  max-height: 40px;
}

.img-max-width{
  min-width: 50px;
  object-fit: cover;
}
