<h1>Gigs</h1>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url()">
    Gigs
  </div>
    <ul>
      <% @gigs.each do |gig| %>
      <li><%= gig.name %></li>
      <% end %>
    </ul>
