<h1>Gigs</h1>

<!--<div class="container align-items-center">-->
  <div class="cards">
    <% @gigs.each do |gig| %>
      <div class="gig-card">
        <h3><%= link_to gig.name, gig_path(gig) %></h3>
        <p><%= gig.category %></p>
      </div>
    <% end %>
  </div>
<<<<<<< HEAD
    <ul>
      <% @gigs.each do |gig| %>
      <li><%= gig.name %></li>
      <% end %>
    </ul>
=======
</div>
>>>>>>> 15eec1edabfdd6b57a413111d8bca7fa1c53cf14
