<h1>Gigs</h1>

<!--<div class="container align-items-center">-->
  <div class="cards">
    <% @gigs.each do |gig| %>
      <div class="gig-card">
        <h3><%= link_to gig.name, gig_path(gig) %></h3>
        <p><%= gig.category %></p>
      </div>
    <% end %>
  </div>
</div>
