<div id="width-div">
  <div class="container">
    <br><br>
    <h2>Hey  <%= @user.first_name %></h2>
    <br><br>
    <div class="big-card">
      <div>
        <h2><strong>Find the Gigs you need</strong></h2>
        <h5>Hand-vetted talent for all your needs.</h2>
      </div>
    <%= render partial: 'gigs/card', locals: { form: @form } %>
    </div>
  </div>
</div>
