<div id="width-div">
  <div class="container">
    <br>
    <br>

    <div class="big-card">
      <div>
        <div id="container_gig_right">
        <h2> Create a New Gig </h2>
      </div>
        <div id="container_gig_left">
        <%= render 'form' %>
    </div>
  </div>
</div>
