<div class="container-page">
  <div class="parent_new">

    <div id="new_gig_div">

      <div id="new-gig-left">
        <h3> <strong> Earn using Gig Groove </strong> <h3>
        <p> Offer a service to people around you looking for such help </p>
      </div>

      <div id="new-gig-right">
          <%= render 'form' %>
      </div>
    </div>



  </div>
</div>
